#!/bin/bash
# {{ ansible_managed }}

{% if reboot_required_only %}
if [ -f {{ reboot_required_file }} ]; then
{% endif %}
  {{ reboot_shutdown_bin }} -r now
  {{ reboot_sleep_bin }} 10
{% if reboot_required_only %}
fi
{% endif %}
